
/*--Overall Styling */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

.uvStyle {
    padding: 7px;
    border-radius: 0.3rem;
}

/*--Media Queries */

@media screen and (max-width: 576px) {
    .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
}
}

@media screen and (max-width: 768px) {
    .navbar-brand { 
    text-align: center;
    padding: 0 auto;
    width: 100%;
}
}